@charset "utf-8";

body {
	background-color: #38332e;
	font-family: dialog, sans-serif;
	font-size: 12px;
	line-height: 1;
	color: #ffffff;
}

a:link {
	text-decoration: none;
	font-weight: normal;
	color: #ffffff;
}

a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #ffffff;
}

table {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

td {
	margin-left: 0px;
	padding-left: 0px;
}

ul {
	list-style-type: square;
}

.bold {
	font-weight: bold;
}

.title {
	font-size: 14px;
}

.tag {
	font-size: 10px;
	margin: 0px 10px 0px 0px;
}

.tag:link {
	color: #777777;
}

.tag:visited {
	color: #777777;
}

.tags {
	margin: 1px;
}

.tblock {
	position: relative;
	min-width: 850px;
	padding: 0px;
	margin: 40px 0px 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#line {
	position: absolute;
	top: 0px;
	left: 12%;
	width: 837px;
	min-height: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #eeeeee;
}

#block {
	position: relative;
	top: 25px;
	left: 15px;
}

#space {
	height: 40px;
}

#bottom {
	position: absolute;
	bottom: -70px;
	left: -1px;
	width: 521px;
	height: 60px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #eeeeee;
}

#imprintlink {
	padding-left: 15px;
}

#imprint {
	padding-left: 15px;
	visibility: hidden;
}