  ------
  Contact

Contact

* Issues

  Use the issue tracking to report issues, bugs, or feature requests:

*-------+-----------------------------------------------------------------------------------------------------+
  Web:  | {{{https://github.com/mschorn/net.mschorn.sandbox/issues/}https://github.com/mschorn/net.mschorn.sandbox/issues}}
*-------+-----------------------------------------------------------------------------------------------------+


* Direct contact

  Use this address to contact me:

*-------+-------------------------------------------+
  Name: | Michael Schorn
*-------+-------------------------------------------+
  Email:| {{{mailto:me@mschorn.net}me@mschorn.net}}
*-------+-------------------------------------------+
  Web:  | {{{http://mschorn.net/}mschorn.net}}
*-------+-------------------------------------------+