  ------
  net.mschorn.sandbox

net.mschorn.sandbox


* About

  This page contains a set of sample projects. All these samples are

  * only written to visualize ideas as code snippets

  * certainly not error free

  * possibly never done


** Downloads

  * {{{./jars/sandbox-sources.jar}Sources}}


** [LWJGL] Basecode

[./images/lwjgl/basecode/ITBasecode.png] [LWJGL] Basecode

  <<Requirements:>> Java 7, OpenGL 1.2

  * {{{./jnlps/basecode.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/basecode}Source}}


** [LWJGL] Forward shading sample

[./images/lwjgl/forward/shading/ITForwardShading.png] [LWJGL] Forward shading sample

  <<Requirements:>> Java 7, OpenGL 4.2

  * {{{./jnlps/forward.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/forward/shading}Source}}


** [LWJGL] Deferred shading sample

[./images/lwjgl/deferred/shading/ITDeferredShading.png] [LWJGL] Deferred shading sample

  <<Requirements:>> Java 7, OpenGL 4.2

  * {{{./jnlps/deferred.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/deferred/shading}Source}}


** [LWJGL] Conway's Game of Life

[./images/lwjgl/conway/ITConway.png] [LWJGL] Conway's Game of Life

  <<Requirements:>> Java 7, OpenGL 4.2

  * {{{./jnlps/conway.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/conway}Source}}


===

===


Deprecated (using deprecated OpenGL features)


* Legacy

  As control group of the OpenGL specification, the Khronos Group introduces with OpenGL 3.0 a deprecation model in which certain features be marked as deprecated. Today, most of the deprecated features are removed from the OpenGL core profile. There are still available in the OpenGL compatibility profile.


** [LWJGL] Fixed Function VBO (deprecated)

[./images/lwjgl/deprecated/vbo/ITFFVBO.png] [LWJGL] Fixed Function VBO

  <<Requirements:>> Java 7, OpenGL 1.5

  * {{{./jnlps/ffvbo.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/deprecated/vbo}Source}}


** [LWJGL] Textured Fixed Function VBO (deprecated)

[./images/lwjgl/deprecated/texture/ITFFTexturedVBO.png] [LWJGL] Textured Fixed Function VBO

  <<Requirements:>> Java 7, OpenGL 1.5

  * {{{./jnlps/fftexturedvbo.jnlp}Webstart}}

  * {{{https://github.com/mschorn/net.mschorn.sandbox/tree/master/src/main/java/net/mschorn/sandbox/lwjgl/deprecated/texture}Source}}  